body {

background-image: url(https://64.media.tumblr.com/a128b18335ac6100e03ef3d61b802915/d69964af1d6d15ba-9a/s540x810/b98d546a21ed827e227e68eb974f4cca79302133.gifv);
background-size: 100%;

}

button {
color: rgb(255, 255, 255);
font-size:20px;
width: 140px;
height: 70px;
border-radius: 20%;
border-color: rgb(56, 56, 103);
background-color: rgb(29, 29, 62);
position: relative;
left: 1090px;
bottom: 220px;

}

h1{

color: rgb(44, 22, 135);
text-align: center;

}

h2{
color: rgb(64, 16, 143);
text-align: center;
}



.image {

position: relative;
top:300px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


